# Log files
*.log

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# .env file
.env

# build directory
build/

# dummy files
dummy/

# temp files
tmp/

# misc files
main
main.*
*.exe
log.txt
*.log
*.tmp
unit_test.raw*
.history
